<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.srloftis.quizdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Math1" />
        <activity android:name=".Physics1" />
        <activity android:name=".MH1" />
        <activity android:name=".Math" />
        <activity android:name=".Physics" />
        <activity android:name=".MH" />
        <activity android:name=".Math2" />
        <activity android:name=".Math3" />
        <activity android:name=".Math4" />
        <activity android:name=".Physics2" />
        <activity android:name=".Physics3" />
        <activity android:name=".Physics4" />
        <activity android:name=".MH2" />
        <activity android:name=".MH3" />
        <activity android:name=".MH4"></activity>
    </application>

</manifest>